.DS_Store
version
Library/*
minecraft/bin/*
minecraft/lib/*
minecraft/crash-reports/*
minecraft/hats/*
minecraft/miscperipherals/*
minecraft/texturepacks/*
minecraft/texturepacks-mp-cache/*
minecraft/stats/*
minecraft/servers.dat
minecraft/saves/*
minecraft/openperipheral/*
minecraft/resources/*
minecraft/screenshots/*
*.log
*.lck
minecraft/openperipheral/*
minecraft/options.txt
minecraft/CustomDISkins/*
minecraft/lib/*